body {
font-family: 'Agdasima', sans-serif;
font-family: 'Libre Baskerville', serif;
}

#header {
    text-align: center;
    font-size: large;
    padding-top: 20px;
    max-height: 90px;
}

.column.is-full {
    border-radius: 10px;
}

.column.has-background-danger {
    border-radius: 10px;
    /*height: 300px;*/
}

#search-bar {
    display: flex;
    justify-content: center;
}

#movie-name {
    margin-right: 50px;
}

#release-year {
    margin-right: 50px;
}

#poster {
    padding: 20px;
}

#text-Container, h2, h3, h4 {
    line-gap-override: 5px;
}

/*#plot-container {
    border-top: 1px solid black;
    padding: 12px;
}*/

.title.is-2.is-spaced {
    padding-top: 20px;
}

.subtitle.is-4 {
    margin-bottom: 15px;
}

#search-History {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

#backButton {
    margin-right: 40px;
}

#articles-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#movie-box {
    margin-left: 50px;
}

